In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1660,tt0324127,27000000,13000000,Suspect Zero,Carrie-Anne Moss|Aaron Eckhart|Ben Kingsley|Ha...,E. Elias Merhige,Who's next?,"A killer is on the loose, and an FBI agent sif...",99,Crime|Thriller,Paramount Pictures|Cruise/Wagner Productions|L...,8/27/2004,5.1,2004
1457,tt0397313,40000000,120455994,Eight Below,Paul Walker|Bruce Greenwood|Moon Bloodgood|Jas...,Frank Marshall,"The Most Amazing Story Of Survival, Friendship...","In the Antarctic, after an expedition with Dr....",120,Adventure|Drama|Family,Walt Disney Pictures|Spyglass Entertainment|Ve...,2/17/2006,6.6,2006
127,tt2562232,18000000,103215094,Birdman,Michael Keaton|Zach Galifianakis|Edward Norton...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,or (The Unexpected Virtue of Ignorance),A fading actor best known for his portrayal of...,119,Drama|Comedy,Worldview Entertainment|New Regency Pictures|T...,10/17/2014,7.3,2014
658,tt0780536,15000000,32002538,In Bruges,Colin Farrell|Brendan Gleeson|Ralph Fiennes|Cl...,Martin McDonagh,Shoot first. Sightsee later.,"Ray and Ken, two hit men, are in Bruges, Belgi...",107,Comedy|Drama|Crime,Blueprint Pictures|Scion Films|Film4|Focus Fea...,2/8/2008,7.3,2008
1037,tt1758830,35000000,88058786,This Is 40,Paul Rudd|Leslie Mann|Jason Segel|Maude Apatow...,Judd Apatow,The sort-of sequel to 'Knocked Up',"Pete and Debbie are both about to turn 40, the...",134,Comedy,Apatow Productions,12/20/2012,5.5,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers ={} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # прибыль для каждого фильма

In [5]:
def genres_exploded_func(genres): #функция для разбивки столбца со списков жанров на атомарные
    return genres.split('|')

def cast_exploded_func(cast): #функция для разбивки столбца со списков с актерами на атомарные
    return cast.split('|')

In [6]:
#разделение дня, месяца и года даты релиза фильма в разные столбцы
data['release_date'] = pd.to_datetime(data.release_date) 
data['day'] = data['release_date'].map(lambda x: x.day)
data['month'] = data['release_date'].map(lambda x: x.month)
data['year'] = data['release_date'].map(lambda x: x.year)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [8]:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [9]:
data.sort_values('budget', ascending = False)[['imdb_id', 'original_title','budget']].head(1)

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 3

In [10]:
data.sort_values('budget', ascending = False)[['imdb_id', 'original_title','budget']].iloc[0]

imdb_id                                             tt1298650
original_title    Pirates of the Caribbean: On Stranger Tides
budget                                              380000000
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [12]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

In [13]:
data.sort_values('runtime', ascending = False)[['imdb_id', 'original_title','runtime']].head(1)

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

In [14]:
data.sort_values('runtime', ascending = False)[['imdb_id', 'original_title','runtime']].iloc[0]

imdb_id                   tt0279111
original_title    Gods and Generals
runtime                         214
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

In [16]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [17]:
round(data['runtime'].mean())

110

In [18]:
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [19]:
data['runtime'].median()

107.0

In [20]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
data.sort_values('profit', ascending = False)[['original_title', 'profit', 'imdb_id']].head(1)

    original_title      profit    imdb_id
239         Avatar  2544505847  tt0499549

In [22]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [23]:
data.sort_values('profit', ascending = False)[['original_title', 'profit', 'imdb_id']].tail(1)

       original_title     profit    imdb_id
1245  The Lone Ranger -165710090  tt1210819

ВАРИАНТ 2

In [24]:
data.sort_values('profit')[['original_title', 'profit', 'imdb_id']].head(1)

       original_title     profit    imdb_id
1245  The Lone Ranger -165710090  tt1210819

In [25]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
data[data['profit'] > 0]['imdb_id'].nunique()

1478

In [27]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
data[data['release_year'] == 2008][['imdb_id', 'original_title', 'profit']].sort_values('profit', ascending=False).head(1)

       imdb_id   original_title     profit
599  tt0468569  The Dark Knight  816921825

In [29]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)][['imdb_id', 'original_title', 'profit']].sort_values('profit').head(1)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

In [31]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [32]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [72]:
#создание новой таблицы, где жанры поделены на атомарные, с помощью lambda
data11 = data.copy() 
data11['genres'] = data11['genres'].apply(lambda x: x.split('|')) 
data11 = data11.explode('genres')

In [73]:
data11['genres'].value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [34]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [35]:
#создание новой таблицы, где жанры поделены на атомарные, с помощью функции genres_exploded_funс
genres_exploded = data.copy()
genres_exploded['genres'] = genres_exploded['genres'].apply(genres_exploded_func)
genres_exploded = genres_exploded.explode('genres')

Drama    782
Name: genres, dtype: int64

In [74]:
genres_exploded['genres'].value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
genres_exploded[genres_exploded['profit'] > 0]['genres'].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

In [37]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending= False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [39]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [75]:
#создание новой таблицы, где режиссеры поделены на атомарные, с помощью lambda
data14 = genres_exploded.copy()
data14['director'] = data14['director'].apply(lambda x: x.split('|'))
data14 = data14.explode('director')

In [76]:
data14[data14['genres'] == 'Action']['director'].value_counts().head(1)

Robert Rodriguez    30
Name: director, dtype: int64

In [41]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
#создание новой таблицы, где актеры поделены на атомарные, с помощью функции cast_exploded_func
cast_exploded = data.copy()
cast_exploded['cast'] = cast_exploded['cast'].apply(cast_exploded_func)
cast_exploded = cast_exploded.explode('cast')

In [43]:
cast_exploded[cast_exploded['release_year'] == 2012].groupby(['cast']).sum()['revenue'].sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [44]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
cast_exploded[cast_exploded['budget'] > cast_exploded['budget'].mean()].groupby(['cast'])['imdb_id'].count().sort_values(ascending = False).head(1)

cast
Matt Damon    18
Name: imdb_id, dtype: int64

In [46]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [80]:
#создание новой таблицы, где актеры и жанры поделены на атомарные, с помощью функции lambda
data17 = cast_exploded[cast_exploded['cast'] == 'Nicolas Cage']
cast_genres_exploded = data17.copy()
cast_genres_exploded['genres'] = cast_genres_exploded['genres'].apply(lambda x: x.split('|'))
cast_genres_exploded = cast_genres_exploded.explode('genres')

In [81]:
cast_genres_exploded['genres'].value_counts().head(1)

Action    17
Name: genres, dtype: int64

In [48]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [92]:
#создание новой таблицы, где продуктовые компании поделены на атомарные, с помощью функции lambda
prod_comp_exploded = data.copy()
prod_comp_exploded['production_companies'] = prod_comp_exploded ['production_companies'].apply(lambda x: x.split('|'))
prod_comp_exploded = prod_comp_exploded.explode('production_companies')

In [91]:
prod_comp_exploded[prod_comp_exploded['production_companies'] == 'Paramount Pictures'][['profit', 'original_title']].sort_values('profit').head(1)

       profit        original_title
925 -64831034  K-19: The Widowmaker

In [50]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [52]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
prod_comp_exploded[prod_comp_exploded['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

In [54]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
data.groupby(['month'])['imdb_id'].count().sort_values(ascending = False).head(1)

month
9    227
Name: imdb_id, dtype: int64

In [56]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:
data[data['month'].isin(['6', '7', '8'])]['imdb_id'].count()

450

In [58]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [84]:
#создание новой таблицы, где режиссеры поделены на атомарные, с помощью функции lambda
data23 = data.copy()
data23['director'] = data23['director'].apply(lambda x: x.split('|'))
data23 = data23.explode('director')

In [85]:
data23[data23['month'].isin(['12', '1', '2'])].groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

In [60]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [87]:
prod_comp_exploded['len_of_original_title'] = prod_comp_exploded['original_title'].apply(lambda x: len(x)) #создание нового столбца в таблице с количеством символов длины названия фильмов
prod_comp_exploded[['len_of_original_title', 'production_companies']].sort_values('len_of_original_title', ascending = False)

      len_of_original_title                    production_companies
1448                     83                 Four By Two Productions
1448                     83  Twentieth Century Fox Film Corporation
1314                     62                            Walden Media
1314                     62                             Walt Disney
219                      59                    Walt Disney Pictures
...                     ...                                     ...
252                       1                             Focus Films
252                       1                         Starz Animation
252                       1                        Relativity Media
252                       1                         Arc Productions
252                       1                  Tim Burton Productions

[6078 rows x 2 columns]

In [62]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
prod_comp_exploded['len_of_overview'] = prod_comp_exploded['overview'].apply(lambda x: len(x)) #создание нового столбца в таблице с количеством символов длины описаний фильмов
prod_comp_exploded[['len_of_overview', 'production_companies']].groupby(['production_companies']).mean().sort_values('len_of_overview', ascending = False)

                                       len_of_overview
production_companies
Midnight Picture Show                           1000.0
Room 9 Entertainment                             964.0
Brookwell-McNamara Entertainment                 936.0
Lions Gate Family Entertainment                  909.0
Crest Animation Productions                      909.0
...                                                ...
London Boulevard                                  74.0
Henceforth                                        74.0
Phantom Four                                      72.0
Empire Pictures                                   62.0
Motion Picture Corporation of America             59.0

[1771 rows x 1 columns]

In [64]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [65]:
best = round((len(data)*0.01)) #нахождение количества 1% фильмов
best

19

In [66]:
data[['vote_average', 'original_title']].sort_values('vote_average', ascending = False).head(best) #выгрузка количества 1% лушчих фильмов, упорядоченных по убыванию по рейтингу

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

In [67]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [68]:
data27 = data.copy()

#Создание списков фильмов, в котором снималися актеры 1 и 2. Нахождение количетва пересечений в двух списках. 

data27['cast'] = data27['cast'].apply(lambda x: x.split('|'))
data27 = data27.explode('cast')

johnny_depp = data27[data27['cast'] == 'Johnny Depp']['original_title']
johnny_depp = list(johnny_depp)
helena = data27[data27['cast'] == 'Helena Bonham Carter']['original_title']
helena = list(helena)
count1 = 0
for i in johnny_depp:
    if i in helena:
        count1 += 1
print(count1)

Ben_Stiller = data27[data27['cast'] == 'Ben Stiller']['original_title']
Ben_Stiller = list(Ben_Stiller)
Owen_Wilson = data27[data27['cast'] == 'Owen Wilson']['original_title']
Owen_Wilson = list(Owen_Wilson)
count2 = 0
for i in Ben_Stiller:
    if i in Owen_Wilson:
        count2 += 1
print(count2)

Vin_Diesel = data27[data27['cast'] == 'Vin Diesel']['original_title']
Vin_Diesel = list(Vin_Diesel)
Paul_Walker = data27[data27['cast'] == 'Paul Walker']['original_title']
Paul_Walker = list(Paul_Walker)
count3 = 0
for i in Vin_Diesel:
    if i in Paul_Walker:
        count3 += 1
print(count3)

Adam_Sandler = data27[data27['cast'] == 'Adam Sandler']['original_title']
Adam_Sandler = list(Adam_Sandler)
Kevin_James = data27[data27['cast'] == 'Kevin James']['original_title']
Kevin_James = list(Kevin_James)
count4 = 0
for i in Adam_Sandler:
    if i in Kevin_James:
        count4 += 1
print(count4)

Daniel_Radcliffe = data27[data27['cast'] == 'Daniel Radcliffe']['original_title']
Daniel_Radcliffe = list(Daniel_Radcliffe)
Rupert_Grint = data27[data27['cast'] == 'Rupert Grint']['original_title']
Rupert_Grint = list(Rupert_Grint)
count5 = 0
for i in Daniel_Radcliffe:
    if i in Rupert_Grint:
        count5 += 1
print(count5)

6
6
5
5
8

In [69]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [70]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [71]:
# и убедиться что ни чего не пропустил)
len(answers)

27